body {
    align-content: center;
}

header {
    padding: 10px;
}

.search-section {
    border-bottom: black solid;
    margin: 10px;
}

.city-name-section {
    margin: 10px;
}

.current-weather-section {
    border-bottom: black solid;
    border-top: black solid;
    border-left: black solid;
    border-right: black solid;
    margin: 10px;
    padding: 10px;
}

.five-day-forcast {
    margin: 10px;
}

.uv-low {
    background-color: green;
}

.uv-medium {
    background-color: yellow;
}

.uv-high {
    background-color: red;
}

#forcast-block {
    padding: 10px;
}